Repository stefmolin/data-morph, pull requests merged in 2023-05, with the labels that each got.

#119 Add conda installation option.
  README.md
  docs/quickstart.rst
Labels: documentation, packaging

#120 Tweak pre-commit hook settings.
  .pre-commit-config.yaml
  pyproject.toml
Labels: ci/cd, packaging

#121 Adjust point sizes in docs.
  src/data_morph/data/dataset.py
  src/data_morph/data/loader.py
Labels: data

#122 Add bunny dataset.
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/bunny.csv
Labels: data

#123 Add left and right parabolas as target shapes
  src/data_morph/shapes/bases/point_collection.py
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/points.py
  tests/shapes/test_points.py
Labels: testing, shapes

#124 Add diamond target shape.
  src/data_morph/shapes/bases/point_collection.py
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/polygons.py
  tests/shapes/test_polygons.py
Labels: testing, shapes

#125 Add test for PointCollection.plot()
  tests/shapes/bases/test_point_collection.py
Labels: testing

#126 Add Python logo starter shape dataset, used with permission.
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/python.csv
  tests/data/test_loader.py
Labels: testing, data

#127 Add heart target shape.
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/points.py
  tests/shapes/test_points.py
Labels: testing, shapes

#128 Add test for ShapeFactory plotting method used in the docs.
  tests/shapes/test_factory.py
Labels: testing

#130 Replace flake8 and isort with ruff
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Labels: ci/cd, packaging

#131 Add SuperDataScience logo as a new starter shape.
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/superdatascience.csv
  tests/data/test_loader.py
Labels: testing, data

#132 Update check PR action to lint all files in repo for any changes to those hooks going forward.
  .github/workflows/check-pr.yml
  src/data_morph/plotting/static.py
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/polygons.py
  tests/bounds/test_interval.py
  tests/shapes/test_factory.py
  tests/test_morpher.py
Labels: ci/cd, testing, shapes, plotting
