Repository stefmolin/data-morph, pull requests merged in 2024-08, with the labels that each got.

#207 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: ci/cd

#209 Fix return type should be BoundingBox
  src/data_morph/data/dataset.py
Labels: data

#210 Add section of potential classroom activities
  README.md
  docs/classroom-ideas.rst
  docs/index.rst
  pyproject.toml
  src/data_morph/__init__.py
Labels: documentation, packaging
