Repository stefmolin/data-morph, pull requests merged in 2024-06, with the labels that each got.

#158 Replace pytweening with local easing functions
  pyproject.toml
  src/data_morph/morpher.py
  src/data_morph/plotting/animation.py
  tests/plotting/test_animation.py
  tests/test_main.py
Labels: testing, plotting, morpher, packaging

#162 Switch to trusted publishing on PyPI
  .github/workflows/pypi-publish.yml
Labels: ci/cd

#165 Add contributing guidelines
  .github/workflows/greetings.yml
  CONTRIBUTING.md
  README.md
  docs/custom_datasets.rst
Labels: documentation, ci/cd, packaging

#167 Adjust standalone docs after theme behavior change
  docs/cli.rst
  docs/custom_datasets.rst
  docs/quickstart.rst
  docs/release_notes.rst
Labels: documentation

#169 Update docs.yml for Node 16 deprecation
  .github/workflows/docs.yml
Labels: documentation, ci/cd

#170 Update pre-commit hook versions
  .pre-commit-config.yaml
Labels: ci/cd

#171 Add pyproject-fmt pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
Labels: ci/cd, packaging

#172 Create pull_request_template.md
  .github/pull_request_template.md
Labels: ci/cd
