Repository stefmolin/data-morph, pull requests merged in 2024-07, with the labels that each got.

#176 Update ruff settings section in pyproject.toml due to upstream changes
  pyproject.toml
Labels: packaging

#184 Excluded code of conduct from codespell hook.
  .pre-commit-config.yaml
Labels: ci/cd

#185 Switch to sphinx-argparse-cli to remove docs hack
  docs/cli.rst
  docs/conf.py
  pyproject.toml
  src/data_morph/cli.py
  tests/test_cli.py
Labels: documentation, testing, cli, packaging

#187 Soccer
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/soccer_ball.csv
Labels: data

#193 Add Pi dataset
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/pi.csv
Labels: data

#199 Make testing points failures more descriptive
  tests/shapes/test_points.py
Labels: testing

#200 Clarify dataset inclusion process
  docs/custom_datasets.rst
Labels: documentation

#203 Optimize distance calculations
  docs/conf.py
  pyproject.toml
  src/data_morph/shapes/bases/line_collection.py
  src/data_morph/shapes/bases/shape.py
  src/data_morph/shapes/circles.py
Labels: documentation, shapes, packaging

#205 Use better variable names for circle attributes
  src/data_morph/shapes/circles.py
  tests/shapes/test_circles.py
Labels: testing, shapes
