Repository stefmolin/data-morph, pull requests merged in 2024-10, with the labels that each got.

#224 Add club target shape.
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/points.py
  tests/shapes/test_points.py
Labels: testing, shapes

#226 Run CI action when changed
  .github/workflows/ci.yml
Labels: ci/cd

#225 Add spade shape
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/points.py
  tests/shapes/test_points.py
Labels: testing, shapes

#227 Address numpy 2.0 warning and fix codecov v4 setup
  .github/workflows/ci.yml
  src/data_morph/shapes/bases/line_collection.py
Labels: ci/cd, shapes

#228 Remove `docs/api/` documents generated by Sphinx for `make clean`
  docs/Makefile
Labels: documentation

#230 Update versions in pypi-publish.yml
  .github/workflows/pypi-publish.yml
Labels: ci/cd

#231 Update stale.yml
  .github/workflows/stale.yml
Labels: ci/cd

#232 Pin action versions in CI; add Python 3.13 to test matrix
  .github/workflows/ci.yml
Labels: ci/cd

#233 Pin action versions and keep up-to-date with Dependabot
  .github/dependabot.yml
  .github/workflows/check-pr.yml
  .github/workflows/citation-validate.yml
  .github/workflows/codecov-validate.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/pypi-publish.yml
Labels: documentation, ci/cd

#234 Update ruff settings; update hooks
  .pre-commit-config.yaml
  docs/conf.py
  docs/post_build.py
  pyproject.toml
  src/data_morph/bounds/_utils.py
  src/data_morph/bounds/bounding_box.py
  src/data_morph/bounds/interval.py
  src/data_morph/cli.py
  src/data_morph/data/dataset.py
  src/data_morph/morpher.py
  src/data_morph/plotting/animation.py
  src/data_morph/plotting/static.py
  src/data_morph/plotting/style.py
  src/data_morph/shapes/bases/line_collection.py
  src/data_morph/shapes/bases/point_collection.py
  src/data_morph/shapes/bases/shape.py
  src/data_morph/shapes/factory.py
  tests/shapes/test_circles.py
  tests/shapes/test_lines.py
  tests/shapes/test_points.py
  tests/shapes/test_polygons.py
  tests/test_morpher.py
Labels: documentation, ci/cd, testing, shapes, data, plotting, morpher, cli, packaging, bounds
