Repository stefmolin/data-morph, pull requests merged in 2024-09, with the labels that each got.

#212 Add shape creation tutorial
  README.md
  docs/_static/shapes_uml.svg
  docs/classroom-ideas.rst
  docs/conf.py
  docs/index.rst
  docs/quickstart.rst
  docs/shape_creation.rst
Labels: documentation, packaging

#214 Link to docs for shape and dataset visuals in README
  README.md
Labels: documentation, packaging

#215 Use archive.org for Datasaurus URL
  src/data_morph/data/loader.py
Labels: data

#216 Add more fonts to avoid errors
  src/data_morph/plotting/config/plot_style.mplstyle
Labels: plotting

#219 Add request for examples in PRs adding new shapes or datasets
  .github/pull_request_template.md
Labels: ci/cd

#220 Add note to dataset tutorial about needing to work for multiple shapes for inclusion
  docs/custom_datasets.rst
  docs/shape_creation.rst
Labels: documentation

#221 feat: Add gorilla to starter_shapes
  src/data_morph/data/loader.py
  src/data_morph/data/starter_shapes/gorilla.csv
Labels: data
