Repository stefmolin/data-morph, pull requests merged in 2024-11, with the labels that each got.

#238 Add tutorials page to docs
  README.md
  docs/_static/tutorials/dataset-creation.jpg
  docs/_static/tutorials/easter-egg-to-wide-lines.gif
  docs/_static/tutorials/example-shapes.png
  docs/_static/tutorials/shapes_uml.svg
  docs/_static/tutorials/style.css
  docs/classroom-ideas.rst
  docs/conf.py
  docs/index.rst
  docs/quickstart.rst
  docs/release-notes.rst
  docs/tutorials/custom-datasets.rst
  docs/tutorials/index.rst
  docs/tutorials/shape-creation.rst
  pyproject.toml
  src/data_morph/__init__.py
Labels: documentation, packaging

#239 Update links README.md
  README.md
Labels: documentation, packaging

#240 Refactor shape files
  .pre-commit-config.yaml
  docs/tutorials/shape-creation.rst
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/lines.py
  src/data_morph/shapes/lines/__init__.py
  src/data_morph/shapes/lines/diamond.py
  src/data_morph/shapes/lines/high_lines.py
  src/data_morph/shapes/lines/horizontal_lines.py
  src/data_morph/shapes/lines/rectangle.py
  src/data_morph/shapes/lines/slant_down.py
  src/data_morph/shapes/lines/slant_up.py
  src/data_morph/shapes/lines/star.py
  src/data_morph/shapes/lines/vertical_lines.py
  src/data_morph/shapes/lines/wide_lines.py
  src/data_morph/shapes/lines/x_lines.py
  src/data_morph/shapes/points.py
  src/data_morph/shapes/points/__init__.py
  src/data_morph/shapes/points/club.py
  src/data_morph/shapes/points/dots_grid.py
  src/data_morph/shapes/points/heart.py
  src/data_morph/shapes/points/parabola.py
  src/data_morph/shapes/points/scatter.py
  src/data_morph/shapes/points/spade.py
  src/data_morph/shapes/polygons.py
Labels: documentation, ci/cd, shapes

#241 Add ruff rules
  docs/conf.py
  pyproject.toml
  src/data_morph/bounds/bounding_box.py
  src/data_morph/data/dataset.py
  src/data_morph/data/loader.py
  src/data_morph/shapes/bases/line_collection.py
  src/data_morph/shapes/bases/point_collection.py
  src/data_morph/shapes/bases/shape.py
  src/data_morph/shapes/circles.py
  src/data_morph/shapes/factory.py
  tests/data/test_dataset.py
  tests/shapes/test_circles.py
  tests/shapes/test_lines.py
  tests/shapes/test_points.py
  tests/shapes/test_polygons.py
  tests/test_morpher.py
Labels: documentation, testing, shapes, data, packaging, bounds

#242 Reduce redundancy in shape factory by adding names
  docs/tutorials/shape-creation.rst
  src/data_morph/shapes/bases/shape.py
  src/data_morph/shapes/factory.py
  src/data_morph/shapes/lines/high_lines.py
  src/data_morph/shapes/lines/horizontal_lines.py
  src/data_morph/shapes/lines/slant_down.py
  src/data_morph/shapes/lines/slant_up.py
  src/data_morph/shapes/lines/vertical_lines.py
  src/data_morph/shapes/lines/wide_lines.py
  src/data_morph/shapes/lines/x_lines.py
  src/data_morph/shapes/points/dots_grid.py
  src/data_morph/shapes/points/parabola.py
Labels: documentation, shapes

#243 Adjust plot bounds for DataLoader plot grid showing all built-in datasets
  src/data_morph/data/loader.py
Labels: data

#244 Update check-pr.yml
  .github/workflows/check-pr.yml
Labels: ci/cd

#222 gh-actions: Build and upload all artifacts
  .github/workflows/check-pr.yml
  .github/workflows/ci.yml
  .github/workflows/generate-morphs.yml
  bin/ci.py
Labels: ci/cd
