Repository stefmolin/data-morph, pull requests merged in 2025-05, with the labels that each got.

#305 Bump version
  pyproject.toml
  src/data_morph/__init__.py
Labels: packaging

#307 Changes to publish to PyPI via action again
  .github/workflows/pypi-publish.yml
  pyproject.toml
Labels: ci/cd, packaging

#308 Switch license badge to one that reads from GitHub
  README.md
Labels: documentation, packaging

#188 Add option to preserve the median when morphing
  pyproject.toml
  src/data_morph/__init__.py
  src/data_morph/cli.py
  src/data_morph/data/stats.py
  src/data_morph/morpher.py
  src/data_morph/plotting/static.py
  tests/data/test_stats.py
  tests/plotting/test_animation.py
  tests/plotting/test_static.py
  tests/test_cli.py
Labels: testing, data, plotting, morpher, cli, packaging

#311 Switch to dependency groups
  .github/workflows/check-pr.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  docs/README.md
  pyproject.toml
Labels: documentation, ci/cd, packaging
